{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Feedback
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
<div class="container">

  <form  method = "POST" action="/dashboard">
    <h2 style= text-align:center;  class="form-signin-heading">Feedback</h2>
    {{form.hidden_tag() }}
    {{ wtf.form_field(form.receival) }}
    {{ wtf.form_field(form.Input) }}
    {{ wtf.form_field(form.time_taken) }}
    {{ wtf.form_field(form.feedback_user) }}
    <button class="btn btn-lg btn-success btn-block" type="submit">Submit Feedback</button>
<body background="{{ url_for('static', filename='images-background3.jpeg') }}" background-repeat:no-repeat;>
  </form>
</div> <!-- /container -->
{% endblock %}
