{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
View Data
{% endblock %}

{% block styles %}
{{super()}}
<script>
        function appReq(reqid){
               
                var link = "{{url_for('approvereq', req_id ='reqid') }}".replace('reqid', reqid);
                window.location.href= link;
	}
        function denyReq(reqid){

                var link = "{{url_for('denyreq', req_id ='reqid') }}".replace('reqid', reqid);
                window.location.href= link;
        }
</script>
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
{% endblock %}

{% block content %}
     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Honest Chain</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href=" {{url_for('logout') }}">Logout</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

<div class="container">
 <table class="table table-striped">
	 

              <thead>
               
			<th>
				<tr><td>Data ID</td>
				<td> Data Description</td>
		</tr>
			</th>
		  
                
              </thead>
             
                    <tbody>
			     
			
			 <tr>
				    <td>{{dataid}}</td>
				    <td>{{record}}</td>
			 </tr>
                     
			    

                    </tbody>
                </table>
		
	

  </form>


</div> <!-- /container -->
{% endblock %}
